<mat-tab-group mat-align-tabs="center" mat-stretch-tabs class="h-100">
    <mat-tab>
        <ng-template matTabLabel>
            <span class="material-icons-outlined" title="Repozytoria">format_list_numbered</span>
        </ng-template>
        <app-repositories></app-repositories>
    </mat-tab>

    <mat-tab class="h-100">
        <ng-template matTabLabel>
            <span class="material-icons-outlined" title="Certyfikaty">checklist</span>
        </ng-template>
        <app-certificates></app-certificates>
    </mat-tab>
</mat-tab-group>
