.pointer {
    cursor: pointer;
}

.cc-accent {
    color: #ff4655;
}

.cb-accent {
    background-color: #ff4655;
}

cc-dark-secondary {
    color: #202020;
}

.cc-dark {
    color: #333333;
}

.cb-dark {
    background-color: #333333;
}