@import '../../../styles.scss';

:host {
  @include router-base;
  padding: 12px 0 12px 12px;
}

.card {
  color: var(--color);
  overflow: hidden;
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background);
  background-image: url('../../../../public/texture.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  .card-body {
    overflow: hidden;

    ul {
      overflow-y: auto;

      li {
        color: var(--color);
        backdrop-filter: blur(4px);
        border-bottom: 1px solid #171717 !important;

        h5 {
          font-size: clamp(0.8rem, 2vw, 1rem);
          font-weight: 400;
        }

        small {
          font-size: clamp(0.7rem, 2vw, 0.85rem);
        }
      }
    }
  }
}

.btn {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  align-items: center;

  .bi-chevron-right {
    opacity: 0;
    display: inline-block;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
  }

  &:hover .bi-chevron-right {
    opacity: 1;
    transform: translateX(0);
  }
}
