.pointer {
    cursor: pointer;
}

.custom-color-accent {
    color: #ff4655;
}

.custom-color-dark {
    color: #3d3d3d;
}

.custom-background-accent {
    background-color: #ff4655;
}

.custom-background-dark {
    background-color: #333333;
}
