.background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .02;
    background-image: url('/assets/images/menu.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    visibility: hidden;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    margin-right: -10px;
}

button[mat-button] {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    height: 2em;
    letter-spacing: 10px;
    transition: .2s all;

    &:hover {
        color: #ffffff;
    }
}

.material-icons-outlined {
    line-height: unset;
}

@media (min-width: 768px) {
    button[mat-button] {
        font-size: 3em;
        height: 3em;
    }
}

@media (min-width: 1024px) {
    button[mat-button] {
        font-size: 4em;
        height: 3em;
    }
    
    .background {
        visibility: visible;
    }
}

@media (min-width: 1280px) {}
