<div class="h-100 d-flex flex-column pt-3 pb-2">
    <div class="background"></div>

    <h4 class="text-muted m-0">NAVIGATION</h4>

    <nav class="flex-fill d-flex flex-column justify-content-center">
        <mat-list>
            <mat-list-item routerLink="/home">
                <button mat-button class="custom-color-dark w-100 text-center p-0 rounded-0 pointer" routerLinkActive="active" (click)="closeNavigationWithTimeout()">
                    HOME
                </button>
            </mat-list-item>

            <mat-list-item routerLink="/projects" class="my-5">
                <button mat-button class="custom-color-dark w-100 p-0 rounded-0 pointer" routerLinkActive="active" (click)="closeNavigationWithTimeout()">
                    PROJEKTY
                </button>
            </mat-list-item>

            <mat-list-item routerLink="/contact">
                <button mat-button class="custom-color-dark w-100 p-0 rounded-0 pointer" routerLinkActive="active" (click)="closeNavigationWithTimeout()">
                    KONTAKT
                </button>
            </mat-list-item>
        </mat-list>
    </nav>

    <div>
        <button mat-icon-button class="custom-color-accent pointer" (click)="closeNavigation()">
            <span class="material-icons-outlined">close</span>
        </button>
    </div>
</div>
