<div class="h-100 d-flex flex-column">
    <div class="table-container flex-fill">
        <table mat-table [dataSource]="dataSource" class="w-100 bg-transparent">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef class="text-center">No.</th>
                <td mat-cell *matCellDef="let item; let i = index" class="index text-center custom-color-accent">
                    <b>{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}</b>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="px-4">Name</th>
                <td mat-cell *matCellDef="let item" class="px-4">
                    <p class="m-0">{{ item.name }}</p>
                    <small class="text-muted"><b>{{ item.issuingOrganization }}</b></small>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef class="text-center">Link</th>
                <td mat-cell *matCellDef="let item" class="text-center">
                    <button mat-stroked-button>
                        <a href="{{item.credentialUrl}}" class="material-icons-outlined" target="_blank">
                            link
                        </a>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns"></tr>
        </table>
    </div>
    
    <mat-paginator #paginator pageSize="10" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons class="bg-transparent"></mat-paginator>
</div>
