<mat-drawer-container class="h-100 bg-transparent">
	<!-- Drawer -->
	<mat-drawer #navigation mode="push" class="w-100 text-center">
		<app-navigation></app-navigation>
	</mat-drawer>

	<!-- Content -->
	<mat-drawer-content>
        <div class="h-100 d-flex flex-column">
            <header>
                <app-header></app-header>
            </header>

            <main class="flex-fill">
                <router-outlet></router-outlet>
            </main>
        </div>

		<footer>
			<app-footer></app-footer>
		</footer>
	</mat-drawer-content>
</mat-drawer-container>
