<div class="h-100 d-flex flex-column justify-content-center">
    <div class="px-2">
        <h2 class="custom-color-dark m-0">JESTEM</h2>
        <h1 class="custom-color-accent m-0">ŁUKASZ</h1>
    </div>

    <div class="d-flex align-items-center">
        <hr class="w-50 text-secondary"/>
        <small class="text-muted line-text">FRONT-END DEVELOPER</small>
    </div>

    <div class="px-2">
        <h2 class="custom-color-dark m-0">I ROBIĘ</h2>
        <h1 class="custom-color-accent m-0">FRONT-END</h1>
    </div>

    <hr class="text-secondary w-100"/>

    <!-- <div class="d-flex align-items-center">
        <hr class="text-secondary w-50"/>
        <small class="text-muted">
            <a href="https://www.linkedin.com/in/lukasz-srednicki" target="_blank" title="LinkedIn" class="ic-linkedin">
                <i class="fab fa-linkedin-in pointer"></i>
            </a>
            <span class="text-secondary px-1"><b>─</b></span>
            <a href="https://github.com/srednicki-lukasz" target="_blank" title="GitHub" class="ic-github">
                <i class="fab fa-github pointer"></i>
            </a>
        </small>
    </div> -->
</div>
