<div class="h-100 d-flex flex-column justify-content-center">
    <h2 class="px-3 cc-dark">JESTEM</h2>
    <h1 class="px-3 cc-accent">ŁUKASZ</h1>

    <div class="d-flex align-items-center">
        <hr class="w-25 text-secondary"/>
        <small class="text-muted">
            <b>FRONT-END DEVELOPER</b>
        </small>
    </div>

    <h2 class="px-3 cc-dark">I ROBIĘ</h2>
    <h1 class="px-3 cc-accent">FRONT-END</h1>

    <div class="d-flex align-items-center">
        <hr class="w-50 text-secondary"/>
        <small class="text-muted">
            <a href="https://www.linkedin.com/in/lukasz-srednicki" target="_blank" title="LinkedIn" class="ic-linkedin">
                <i class="fab fa-linkedin-in pointer"></i>
            </a>
            <span class="mx-1 cc-dark"><b>•</b></span>
            <a href="https://github.com/srednicki-lukasz" target="_blank" title="GitHub" class="ic-github">
                <i class="fab fa-github pointer"></i>
            </a>
            <span class="mx-1 cc-dark"><b>•</b></span>
            <a routerLink="/contact" class="ic-envelope" title="E-Mail">
                <i class="far fa-envelope pointer"></i>
            </a>
        </small>
    </div>
</div>
<!-- <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_rycdh53q.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player> -->
