h1 {
    font-size: 2em;
    letter-spacing: 2px;
}

h2 {
    font-size: 1.3em;
}

.fab,
.far {
    border: 2px solid #333333;
    background-color: #000000;
    border-radius: 50%;
    padding: .8em;
}

.ic-linkedin {
    color: #e0e0e0;
    transition: .2s all;

    &:hover {
        color: #0a66c2;
    }
}

.ic-github {
    color: #e0e0e0;
    transition: .2s all;
    
    &:hover {
        color: #cdd9e5;
    }
}

.ic-envelope {
    color: #e0e0e0;

    &:hover {
        color: #ff4655;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 4em;
    }
    
    h2 {
        font-size: 3.3em;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 5em;
    }
    
    h2 {
        font-size: 4.3em;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 6em;
    }
    
    h2 {
        font-size: 5.3em;
    }
}
